.header {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.header div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 60px;
  padding: 0 15px;
  background-color: #fafafa;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.header div p {
  font-weight: 600;
  margin-right: 15px;
}
.header div button {
  height: 40px;
  border: none;
  border: 3px solid #7384f3;
  background-color: #7384f3;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}
.header div button:hover {
  background-color: white;
  color: #7384f3;
}

.main {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  height: calc(100vh - 120px);
}
.main aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.main aside a {
  display: flex;
  align-items: center;
  padding: 30px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  border-radius: 15px;
  transition: background-color 0.25s, color 0.25s;
}
.main aside a svg {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.main section {
  width: 78%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.searchBar {
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  width: 100%;
  padding: 1rem 0;
}
.searchBar input {
  position: relative;
  width: 100%;
  padding: 0.8rem;
  font-size: 0.9rem;
  border: 5px solid #7384f3;
}
.searchBar input:focus {
  outline: none;
}
.searchBar ul {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #f5f5f5;
}
.searchBar ul li {
  padding: 0.8rem 0.5rem;
}
.searchBar ul li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.Error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border: 15px solid #7384f3;
  font-size: 4rem;
  font-weight: bold;
  color: #7384f3;
  line-height: 300%;
}
.Error p {
  font-size: 2rem;
}