.form {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 3rem 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(black, 0.05);
  label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #7384f3;
  } //label
  input {
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2.5px solid black;
    font-size: 1.1rem;
    &:focus {
      outline: none;
      border-bottom: 2.5px solid rgba(#7384f3, 0.3);
    } //input:focus
  } //input
  button {
    width: 70%;
    height: 40px;
    margin: 2rem auto;
    border: none;
    border: 3px solid #7384f3;
    background-color: #7384f3;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s;
    &:hover {
      background-color: white;
      color: #7384f3;
    } //button hover
    &:disabled {
      background-color: #666;
      color: #333;
      border: 3px solid black;
      cursor: default;
    } //button disabled
  } //button
  p {
    height: 30px;
    &.error {
      font-weight: 600;
      color: red;
    } //p.error
    &.login {
      text-align: center;
      font-weight: 300;
      a {
        margin-left: 10px;
        font-weight: 700;
        text-decoration: none;
        color: #7384f3;
      }
    } //p.login
  } //p
} //form
